*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

#root {
  overflow: hidden;
}

#root > div {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 60px;
  padding: 15px;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgb(28, 32, 34);
  border-bottom: 1px solid rgb(18, 21, 22);
}

.container {
  flex: 1;
  position: relative;
  overflow: hidden;
}

aside,
main {
  height: 100%;
  overflow: hidden;
}

aside {
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  background-color: rgb(36, 40, 42);
  border-right: 1px solid rgb(18, 21, 22);
  overflow: auto;
}

.menu {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 15px;
  font-size: 14px;
  overflow: auto;
}

.menu li {
  padding: 10px 15px;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: all ease .3s;
}

.menu li.is-active {
  border-right: 2px solid #2175bc;
  background-color: rgba(97, 218, 251, 0.098);
  color: rgb(227, 230, 232);
}

.link {
  display: block;
  cursor: pointer;
}

main {
  width: 100%;
  padding-left: 200px;
}

.playground {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
  background-color: #1c2022;
}

.playgroundCode,
.playgroundPreview {
  width: 50%;
  padding: 15px;
  flex: 1;
}

.playgroundCode {
  overflow: auto;
  height: 100%;
}

.react-codemirror2 {
  height: 100%;
}

.CodeMirror {
  font-size: 14px;
  line-height: 1.5;
  font-family: monospace;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.CodeMirror-scroll {
  overflow: auto;
  height: 100%;
  position: relative;
  outline: none;
  background-color: #1c2022;
}

.CodeMirror-gutters {
  height: 100% !important;
}

.CodeMirror-gutter {
  background-color: #1c2022;
}

.playgroundPreview div {
  min-height: 400px;
  height: 100%;
  background: #fff;
  border-radius: 4px;
}