const { Scene, Layer, Circle} = spritevue.spritejs
const scene = new Scene('.playgroundPreview div', {
  displayRatio: 'auto'
});
const layer = scene.layer();

// 修改下方代码
console.log(Circle);
const circle = new Circle();
circle.draggable({dragRect:[0,0,1000,1000]});
circle.attr({
  pos: [100, 400],
  radius: 30,
  lineWidth: 1,
  color: 'red',
  anchor: [-0.5, 0],
  bgcolor: '#eee',
  anticlockwise: true,
});

circle.on('mousemove', (evt) => {
  circle.attr('radius', 60);
  evt.stopDispatch();
});

circle.on('mouseleave', (evt) => {
  circle.attr('radius', 30);
  evt.stopDispatch();
});

layer.append(circle);