const { Scene, Layer, Polycurve} = spritevue.spritejs
const scene = new Scene('.playgroundPreview div', {
  displayRatio: 'auto'
});
const layer = scene.layer();

// 修改下方代码
const polycurve = new Polycurve();
polycurve.attr({
  pos: [120, 100],
  points: [
    [-90, 0, 0, 180, 90, 0],
    [90, 0, 45, -20, 0, 0],
    [0, 0, -45, 20, -90, 0]
  ],
  lineWidth: 5,
  fillColor: 'red',
});

polycurve.on('mouseenter', () => {
  polycurve.attr('fillColor', 'yellow');
});

polycurve.on('mouseleave', () => {
  polycurve.attr('fillColor', 'red');
});

layer.append(polycurve);