const { Scene, Layer, Rect} = spritevue.spritejs
const scene = new Scene('.playgroundPreview div', {
  displayRatio: 'auto'
});
const layer = scene.layer();

// 修改下方代码
const rect = new Rect();
rect.attr({
  pos: [100, 100],
  color: 'red',
  angle: 60,
  lineWidth: 1,
  // size: [100, 100],
  width: 100,
  height: 100,
  fillColor: 'yellow',
  bgcolor: '#eee',
});

rect.on('mouseenter', (evt) => {
  rect.attr('color', 'yellow');
  evt.stopDispatch();
});

rect.on('mouseleave', (evt) => {
  rect.attr('color', 'red');
  evt.stopDispatch();
});

layer.append(rect);