const { Scene, Layer, Star} = spritevue.spritejs
const scene = new Scene('.playgroundPreview div', {
  displayRatio: 'auto'
});
const layer = scene.layer();

// 修改下方代码
const star = new Star();
star.attr({
  pos: [50, 400],
  radius: 40,
  innerRadius: 40,
  color: '#000',
  lineWidth: 4,
  angles: 5,
  bgcolor: '#eee',
  fillColor: 'red',
});

star.on('mouseenter', (evt) => {
  star.attr('fillColor', 'green');
  evt.stopDispatch();
});

star.on('mouseleave', (evt) => {
  star.attr('fillColor', 'red');
  evt.stopDispatch();
});

layer.append(star);