const { Scene, Layer, Triangle} = spritevue.spritejs
const scene = new Scene('.playgroundPreview div', {
  displayRatio: 'auto'
});
const layer = scene.layer();

// 修改下方代码
const triangle = new Triangle();
triangle.attr({
  pos: [100, 100],
  color: 'red',
  sides: [80, 80],
  angle: 60,
  lineWidth: 1,
  anchor: [0, 1],
  fillColor: 'yellow',
  bgcolor: '#eee',
});

triangle.on('mouseenter', (evt) => {
  triangle.attr('color', 'yellow');
  evt.stopDispatch();
});

triangle.on('mouseleave', (evt) => {
  triangle.attr('color', 'red');
  evt.stopDispatch();
});

layer.append(triangle);